@keyframes aparece1 {
  0% {
    right: -100;
    opacity: 0%; }
  100% {
    opacity: 100%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

section[id] {
  scroll-margin-top: 80px; }

.max-width {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto; }

.header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  height: 2vh;
  width: 100%;
  z-index: 5;
  padding: 30px 20px; }
  .header__content {
    display: flex;
    flex-direction: none;
    justify-content: space-between;
    align-items: center; }
    .header__content-logo {
      color: #fff;
      font-weight: none;
      font-size: 2.5em; }
    .header__content-navbar {
      display: flex;
      flex-direction: none;
      justify-content: center;
      align-items: center; }
      .header__content-navbar-item {
        color: #fff;
        font-weight: 100;
        font-size: 1.5em;
        margin: 0 20px; }
        .header__content-navbar-item:hover {
          font-weight: 500;
          border-bottom: 1px #fff solid; }
        .header__content-navbar-item:active {
          transform: scale(0.9px); }

.hamburger {
  display: none;
  cursor: pointer; }
  .hamburger__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff; }

.arrowup a {
  color: #333333;
  position: fixed;
  font-size: 4em;
  bottom: 20px;
  right: 20px;
  animation: aparece1 1s ease-in;
  z-index: 1; }

.hero {
  position: relative;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center; }
  .hero__bg {
    background: url(../assets/img/back-hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1; }
  .hero__profile {
    background: url(../assets/img/selfie.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 40px; }
  .hero__description-span {
    color: #fff;
    font-weight: 400;
    font-size: 3em; }
  .hero__description-title {
    color: #fff;
    font-weight: 700;
    font-size: 3em; }
  .hero__wave {
    position: absolute;
    width: 100%;
    bottom: -10%;
    box-sizing: border-box; }

.sobremi {
  width: 100%;
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  justify-content: center; }
  .sobremi__about h2,
  .sobremi__about p {
    color: #000;
    font-weight: none;
    font-size: 2em;
    margin-bottom: 15px; }
  .sobremi__about h2 {
    font-size: 2.5em; }
  .sobremi__about-cv {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    background-color: #007FFF;
    margin-top: 20px;
    transition: all 0.3s ease-in-out; }
    .sobremi__about-cv:hover {
      background-color: transparent;
      color: #000;
      border: 1px #000 solid; }
  .sobremi__skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px; }
    .sobremi__skills-item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: #e6e6e6;
      width: 120px;
      height: 120px;
      border-radius: 20%;
      transition: all 0.2s ease-in-out; }
      .sobremi__skills-item img {
        width: 80px; }
      .sobremi__skills-item-title {
        color: #000;
        font-weight: 400;
        font-size: 1.5em; }
      .sobremi__skills-item:hover {
        transform: translateY(-10px); }

@media screen and (max-width: 1015px) {
  .sobremi {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center; }
    .sobremi__about {
      text-align: center; }
      .sobremi__about-cv {
        margin: 20px auto;
        margin-bottom: 50px; } }

@media screen and (max-width: 815px) {
  .hamburger {
    display: block; }
    .hamburger.active .hamburger__bar:nth-child(2) {
      opacity: 0; }
    .hamburger.active .hamburger__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg); }
    .hamburger.active .hamburger__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg); }
  .header__content-navbar {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 15px;
    padding-top: 80px;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    transition: 0.3s; }
    .header__content-navbar-item {
      font-size: 2.5em;
      font-weight: 500; }
    .header__content-navbar.active {
      left: 0; } }

@media screen and (max-width: 650px) {
  .hero {
    flex-direction: column;
    text-align: center; }
    .hero__description-span, .hero__description-title {
      font-size: 2.5em;
      margin: 0 10px; } }

@media screen and (max-width: 470px) {
  .sobremi__skills {
    grid-template-columns: repeat(2, 1fr); } }
