* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fbf9f3;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

section[id] {
    scroll-margin-top: 80px;
}

.max-width {
    width: 100%;
    max-width: 70vw;
    margin: 0 auto;
}