@media screen and (max-width: 1024px){
    .sobremi{
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        &__about{
            text-align: center;
            &-cv{
                margin: 20px auto;
                margin-bottom: 50px;
            }
        }
    }

    .sobremi__services{
        &-about{
            text-align: center;
        }
        &-grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .proyectos__about{
        text-align: center;
    }
    .proyectos__grid{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 815px){
    // MENU HAMBURGUESA
    .hamburger {
        display: block;
        
        &.active .hamburger__bar:nth-child(2) {
            opacity: 0;
        }
        &.active .hamburger__bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        &.active .hamburger__bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg)
        }
    }
    .header__content-navbar {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 15px;
        padding-top: 80px;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
        transition: 0.3s;

        &-item {
            font-size: 2.5em;
            font-weight: 500;
        }

        &.active {
            left: 0;
        }
    }

    .sobremi__services{
        &-card{
            width: 100%;
        }
    }
}

@media screen and (max-width: 650px){
    .hero {
        flex-direction: column;
        text-align: center;
        
        &__description-span,
        &__description-title {
            font-size: 2.5em;
            margin: 0 10px;
        }
    }
    .sobremi__services-grid{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 470px){
    .sobremi__skills{
        grid-template-columns: repeat(2, 1fr);
    }
}
