// VARIABLES
$negro: #232323;
$blanco: #fbf8f3;

// MIXINs
@mixin flexcenter ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin gridcenter {
    display: grid;
    justify-items: center;
    align-items: center;
}

@mixin font ($color, $weight, $size){
    color: $color;
    font-weight: $weight;
    font-size: $size;    
}

// KEYFRAMES    
// Animación arrowup
@keyframes aparece1 {
    0% {
        right: -100;
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

// Animacion para hero
@keyframes parpadeo {
    90% {
        z-index: -2;
    }
    100% {
        z-index: 6;
    }
}