// MIXINs
@mixin flexcenter ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin font ($color, $weight, $size){
    color: $color;
    font-weight: $weight;
    font-size: $size;    
}

// Animación arrowup
@keyframes aparece1 {
    0% {
        right: -100;
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}