.hero {
    position:relative;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    @include flexcenter(none, center, center);
    

    &__bg {
        background: url(../assets/img/back-hero.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    &__profile{
        background: url(../assets/img/selfie.png);
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin: 40px;
    }

    &__description-span{
        @include font(#fff, 400, 3em);
    }
    &__description-title {
        @include font(#fff, 700, 3em);
    }
}